/data
/source
/graph
/inter
/output
/examples
/papers
classes/
/visualisation/showRoutes/fixtures
__pycache__/
META-INF/
.idea/
out/
target/
*.sqlite3
*.iml
*.pyc
*.json
*.eps
.ipynb_checkpoints/
*.PNG