<!DOCTYPE html>
<html>

<head>
	{% load staticfiles %}
	{% load leaflet_tags %}
	{% leaflet_js %}
	{% leaflet_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'showRoutes/style.css' %}" />
	<script type="text/javascript">
		var file = {{routeString|safe}};
	</script>
</head>

<body>
<h1 id="title"></h1>
<div id="full">
    <div id="panel1">
		<script type="text/javascript" src="{% static 'showRoutes/routeMap.js' %}"></script>
		{% leaflet_map "yourmap" callback="window.map_init_basic" %}
	</div>
    <div id="panel2"></div>
</div>
</body>
<script type="text/javascript" src="{% static 'showRoutes/routeText.js' %}"></script>
</html>